##############################################
#### direnv
##############################################

#### PHP
##############################################
# layout php
# PATH_add bin

#### CONFIGURATION
##############################################
# DEBUG
##############################################
ENV_DIR_DEBUG=true

export PRJ_NAME="dotfiles"

## OPTIONS
INIT_FILE=${INIT_FILE:=1}

if on_git_branch "master"; then
    INIT_FILE=0
fi

#### OTHER
##############################################
msg "Environment: $Cyan$PRJ_NAME"

files-ds-store-clean
files-code-runner-clean
