# Copy to local.env for custom environment not included in the repository.
# cp local.env.dist ./local.env

# SETTINGS
########################################
## turn off all
##############################
#zstyle ':inane:function:*' 'error' no
#zstyle ':inane:function:*' 'success' no

## turn off software
####################
#zstyle ':inane:function:software:*' 'error' no
#zstyle ':inane:function:software:*' 'success' no

## turn off individual software
# atuin, boring, brew, broot, folderify, ghq, hurl, intelli-shell, lla, moor, navi, pet, pter, sqlite3, tabs, topydo
##########
### PACKAGE
#zstyle ':inane:function:software:{pkg}' 'error' no
#zstyle ':inane:function:software:{pkg}' 'success' no

## turn off plugins
####################
#zstyle ':inane:function:plugin:*' 'error' no
#zstyle ':inane:function:plugin:*' 'success' no

## turn off individual plugin
# brew, composer, copybuffer, cp, direnv, eza, gh, httpie, jj, macports, magic-enter, npm, starship, suse, tldr, tt
##########
### PLUGIN
#zstyle ':inane:function:plugin:{plugin}' 'error' no
#zstyle ':inane:function:plugin:{plugin}' 'success' no
