# Copy to local.env for custom environment not included in the repository.
# zstyle ':inane:function:software' 'error' no
# zstyle ':inane:function:software' 'success' no

# zstyle ':inane:function:software:plugin' 'error' no
# zstyle ':inane:function:software:plugin' 'success' no
