# Copy to local.env for custom environment not included in the repository.
# cp local.env.dist ./local.env

# SETTINGS
########################################
## turn off all
##############################
#zstyle ':inane:function:*' 'error' no
#zstyle ':inane:function:*' 'success' no

## turn off software check
####################
#zstyle ':inane:function:software:*' 'error' no
#zstyle ':inane:function:software:*' 'success' no

## turn off individual software packages
# atuin, brew, boring, broot, folderify, ghq, intelli-shell, lla, moor, navi, pet, pter, sqlite3, tabs, topydo
##########
### atuin
#zstyle ':inane:function:software:atuin' 'error' no
#zstyle ':inane:function:software:atuin' 'success' no
### brew
#zstyle ':inane:function:software:brew' 'error' no
#zstyle ':inane:function:software:brew' 'success' no
### hurl
#zstyle ':inane:function:software:hurl' 'error' no
#zstyle ':inane:function:software:hurl' 'success' no
### tabs
#zstyle ':inane:function:software:tabs' 'error' no
#zstyle ':inane:function:software:tabs' 'success' no

## turn off all plugins
####################
#zstyle ':inane:function:software:plugin:*' 'error' no
#zstyle ':inane:function:software:plugin:*' 'success' no

## turn off individual plugins
# httpie, jj, macports, magic-enter, suse
##########
### macports
#zstyle ':inane:function:software:plugin:macports' 'error' no
#zstyle ':inane:function:software:plugin:macports' 'success' no
### magic-enter
#zstyle ':inane:function:software:plugin:magic-enter' 'error' no
#zstyle ':inane:function:software:plugin:magic-enter' 'success' no
