##################################################
## zsh: env: included right on top of zshrc.
# cp ~/.dotfiles/home/zsh.d/template.env.dist ~/.zsh.d/$OPT_SOURCE.env
##################################################
